<h3><%= link_to "sing_up", new_user_registration_path, class: "no-underline"%> OR <%= link_to "sing_in", user_session_path, class: "no-underline"%></h3>

<p>Loged as <br><strong><%= current_user.name %></strong></p>

<% @users.each do |user|%>
<div>
  <img src='#{ <%= user.photo %> }' alt="user-img" />
  <%= link_to user.name, user%>
  <p>number of posts: <%=user.posts_counter || 0%></p>
  <hr />
</div>
<%end%>

<h3><%= button_to "log-out" , destroy_user_session_path, method: :delete ,class: "no-underline red-color"%></h3>