<div>
  <img src='#{ <%= @user.photo %> }' width='100' height='100' />
  <span><%= @user.name%></span>
  <h4>Number of posts:- <%= @user.posts_counter || 0%></h4>
  <h3>Bio: <%=@user.bio %></h3>
</div>
<hr />
<h1>Last Posts</h1>
<div>
  <% if @posts.empty? %>
  <h1>This User Dose Not Have Any Posts</h1>
  <%end%>
  <% @posts.each do |post|%>
  <% if post.user_id == @user.id %>
  <div>
    <h2><%= post.title%></h2>
    <h3><%= post.text%></h3>
    <p>comments: <%= post.comments_counter || 0%>, likes: <%= post.likes_counter || 0%></p>
  </div>
  <%end%>
  <%end%>
</div>