<div>
  <img src='#{<%= @user.photo %>}' alt='user-img' />
  <span><strong><%= @user.name%></strong></span><br />
  <span><strong>number of posts: <%=@user.posts_counter || 0%><strong></span>
</div>
<hr />
<h1>All Posts</h1>
<hr />
<div>
  <% if @user.posts.empty? %>
  <h1>This User Dose Not Have Any Posts</h1>
  <%else%>
  <% @posts.each do |post|%>
  <% if post.user_id == @user.id %>
  <div class="post-div">
    <div>
      <h2><%= link_to post.title, "/users/#{@user.id}/posts/#{post.id}", class: "no-underline"%></h2>
      <h3><%= post.text%></h3>
      <p>comments: <%= post.comments_counter || 0%>, likes: <%= post.likes_counter || 0%></p>
    </div>
    <div>
      <%=form_with(model: @like,url: user_post_likes_path(@user,post), local:true) do |f|%>
      <p>
        <%= f.submit "like"%>
      </p>
      <%end%>
      <p><%= link_to "Delete Post" ,  "/users/#{@user.id}/posts/#{post.id}", data: { turbo_method: "delete", turbo_confirm: "Are you sure to delete" } ,class: "no-underline red-color"%></p>
      <%= link_to "Add Comment", "posts/#{post.id}/comments/new", class: "no-underline"%>
    </div>
  </div>
  <div class='post-div'>
    <h1>Comments</h1>
    <% post.comments.includes(:user, :post).each do |comment|%>
    <h3><%= comment.user.name %>:<%= comment.text %> <%= link_to "Delete Comment" ,  user_post_comment_path(comment.user.id,comment.post.id,comment), data: { turbo_method: "delete", turbo_confirm: "Are you sure to delete" } ,class: "no-underline red-color margin"%></h3>
    <%end%>
  </div>
  <%end%>
  <%end%>
  <%end%>
  <%= link_to "New Post" , new_user_post_url ,class: "no-underline"%>
</div>